                            @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Poppins:wght@400;700&display=swap');
                            $color-container: #eeeee4;
                            $primary-color: #8d57b1;
                            body {
                                padding: 0;
                                margin: 0;
                            }
                            
                            .container {
                                padding: 5px;
                                width: 100vw !important;
                                h1,
                                h2,
                                p {
                                    font-family: Helvetica;
                                    text-align: center;
                                }
                                .book-title {
                                    font-size: 20px;
                                }
                                .head-container {
                                    position: relative;
                                    background-color: $color-container;
                                    padding-top: 5px;
                                    padding-bottom: 20px;
                                    margin: 0px auto;
                                    h1 {
                                        font-size: 20px;
                                        padding-top: 8px;
                                    }
                                    p {
                                        margin: 8px;
                                        font-size: 12px;
                                    }
                                    a {
                                        display: block;
                                        text-decoration: none;
                                        text-align: center;
                                        margin-bottom: 9px;
                                    }
                                    .search-input {
                                        max-width: 70%;
                                        margin: 0 auto;
                                        .c-search {
                                            padding: 10px;
                                            width: 100%;
                                            border-radius: 8px;
                                            -webkit-border-radius: 8px;
                                            -moz-border-radius: 8px;
                                            -ms-border-radius: 8px;
                                            -o-border-radius: 8px;
                                        }
                                    }
                                }
                            }
                            
                            .ul-book {
                                list-style: none;
                                padding-left: 8px;
                                .list-book:hover {
                                    border-color: $primary-color;
                                }
                                .list-book {
                                    border-left: 5px solid $color-container;
                                    height: 45px;
                                    padding-left: 10px;
                                    cursor: pointer;
                                    padding-top: 10px;
                                    margin-top: 12px;
                                    .quote {
                                        font-family: Helvetica;
                                        font-size: 20px
                                    }
                                    .btn-primary:hover {
                                        background-color: #2f2336;
                                    }
                                    .btn-primary {
                                        float: right;
                                        cursor: pointer;
                                        background-color: $primary-color;
                                        font-family: Arial !important;
                                        padding: 10px;
                                        color: white;
                                        border-radius: 8px;
                                        -webkit-border-radius: 8px;
                                        -moz-border-radius: 8px;
                                        -ms-border-radius: 8px;
                                        -o-border-radius: 8px;
                                    }
                                }
                            }
                            
                            .book-container {
                                position: relative;
                                padding: 10px;
                                .sub-container {
                                    position: relative;
                                    margin-top: 20px;
                                }
                            }
                            
                            #add-book {
                                .checkbox-container {
                                    padding-left: 15px;
                                    .hide-text {
                                        font-size: 20px;
                                        font-family: Helvetica;
                                    }
                                }
                            }
                            
                            .footer {
                                list-style: none;
                                margin-top: 30px;
                                padding: 8px;
                                li {
                                    .btn-node {
                                        border-radius: 8px;
                                        background-color: $primary-color;
                                        width: 27% !important;
                                        padding: 10px;
                                        color: #fff;
                                    }
                                    .btn-primary {
                                        float: right;
                                        border-radius: 8px;
                                        background-color: $primary-color;
                                        width: 23% !important;
                                        padding: 10px;
                                        color: #fff;
                                    }
                                    .search-input {
                                        padding: 10px;
                                        border-radius: 8px;
                                        width: 40%;
                                    }
                                }
                            }
                            
                            span {
                                text-align: center;
                            }
                            
                            .tabbed-content {
                                position: relative;
                                .tabs {
                                    padding: 0px 8px 0px 8px;
                                }
                                li {
                                    display: inline;
                                    background: $primary-color;
                                    padding: 10px;
                                    color: white;
                                    font-size: 17px;
                                    font-family: Helvetica;
                                    text-align: center;
                                    border-radius: 10px;
                                    -webkit-border-radius: 10px;
                                    -moz-border-radius: 10px;
                                    -ms-border-radius: 10px;
                                    -o-border-radius: 10px;
                                }
                                li:first-child {
                                    position: absolute;
                                    text-align: center;
                                    top: -3%;
                                    left: 80%;
                                }
                                /*p:first-child {
                                    font-family: Helvetica;
                                    font-size: 17px;
                                } p:nth-child(2) */
                                p {
                                    font-family: Helvetica;
                                    padding: 5px;
                                    margin-top: 40px;
                                    background: $color-container;
                                    border-radius: 8px;
                                    -webkit-border-radius: 8px;
                                    -moz-border-radius: 8px;
                                    -ms-border-radius: 8px;
                                    -o-border-radius: 8px;
                                }
                                .panel.active {
                                    display: block;
                                }
                                .panel {
                                    display: none;
                                }
                            }
                            /* @media screen and (min-width: 370px) and (max-width: 397px) {
                                .footer {
                                    margin-top: 30px;
                                    .btn-primary {
                                        border-radius: 8px;
                                        background-color: $primary-color;
                                        width: 30% !important;
                                        padding: 10px;
                                        color: #fff;
                                    }
                                    .search-input {
                                        padding: 10px;
                                        border-radius: 8px;
                                        width: 60%;
                                        -webkit-border-radius: 8px;
                                        -moz-border-radius: 8px;
                                        -ms-border-radius: 8px;
                                        -o-border-radius: 8px;
                                    }
                                }
                            }*/