<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/template.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a href="#">Remenber<span class="primary-cta">That</span></a>
            <nav>
                <ul class="primary-nav">
                    <li class="current-cta"><a href="#">Home</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Features</a></li>
                </ul>
                <ul class="secondary-nav">
                    <li><a href="#">Contact</a></li>
                    <li class="premium-highlight" ""><a href="#">Go to premium</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="first-section">
        <div class="container">
            <div class="left-col">
                <p class="subhead">It's Nitty &amp;Gritty</p>
                <h1>A Task App doesn't Stink</h1>
                <div class="free-cta">
                    <a href="#">Try for free</a>
                    <a href="#">
                        <img src="/images/watch.svg" class="watch-cta" alt="Watch video"> Watch a video
                    </a>
                </div>
            </div>
            <img src="/images/illustration.svg" alt="Illustration">


        </div>
    </section>
</body>

</html>