#ignorign course by clever folder and tailwind
Tailwind/
Course-by-Clever-Programmer/
# ignoring all .zip files on my repository
.zip
# ignoring all .msi files on my repository
.msi
# ignoring all .json files on my repository
.json
# ignoring node modules folder on my repository
node_modules/